body {
  background-color: black;
  margin: 0;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

.game {
  display: flex;
  flex-direction: column;
  width: 1000px;
  height: 600px;
  background: url(img/background.png) center/cover no-repeat;
  border-radius: 20px;
  margin: 50px auto;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.btn {
  width: 65px;
  height: 65px;
  background-color: wheat;
  border: 3px solid black;
  border-radius: 10px;
  font-size: 32px;
  transition: transform 200ms ease-in;
}

.btn:hover {
  transform: scale(1.1);
}

.game__timer {
  width: 150px;
  height: 50px;
  background-color: white;
  border: 3px solid black;
  border-radius: 10px;
  text-align: center;
  line-height: 50px;
  font-size: 32px;
  margin-top: 10px;
  margin-bottom: 15px;
  visibility: hidden;
  user-select: none;
}

.game__score {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: darksalmon;
  border: 3px solid black;
  text-align: center;
  line-height: 60px;
  color: white;
  font-size: 36px;
  visibility: hidden;
  user-select: none;
}

.game__field {
  width: 100%;
  height: 100%;
  margin-top: 60px;
  position: relative;
}

.pop-up {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  text-align: center;
  margin: auto;
  transform: translateY(-150%);
}

.pop-up--hide {
  display: none;
}

.pop-up__txt {
  width: 600px;
  text-align: center;
  color: white;
  font-size: 42px;
  margin-top: 20px;
}

.carrot,
.bug {
  transition: transform 100ms ease-in;
  cursor: pointer;
}

.carrot:hover,
.bug:hover {
  transform: scale(1.1);
}
